/* generate a nice palette with https://fffuel.co/pppalette/ */

:root {
  --layout-width: 1200px;
  --dark-bg-color: #232323; /* This is also used in the Head.js as theme-color */
  --light-color: #fafafa;
  --primary-color: #00C6A7;
  --primary-dark-color: #00664e;
}
