.header {
  background-size: cover;
  background-position: center;
}

.headerContent {
  max-width: 600px;
  padding: 100px 20px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  opacity: 1;
}

.headerContent h1 {
  text-transform: uppercase;
}

.headerContent h2 {
  font-weight: 300;
  font-size: 1.5rem;
}


@media screen and (max-width: 600px) {
  .headerContent {
    padding: 50px 20px;
  }
}