.postContainer {
  display: flex;
  padding: 50px 0;
  border-bottom: 1px solid #f3f3f3;
}

.post {
  margin-left: 20px;
  width: 100%;
}

.fileUpload {
  display: none;
}

.fileUploadLabel {
  padding: 5px 0.5em;
  cursor: pointer;
}

.previewContainer {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.previewContainer img,
.previewContainer video {
  max-width: 200px;
  margin-right: 20px;
  object-fit: contain;
}

.previewContainer svg {
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.postOptions {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
}

.postOptions svg {
  opacity: 0.6;
}

.postOptions svg:hover {
  opacity: 0.8;
}

.emojiPickerContainer {
  position: absolute;
}
